<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109102425737-qimi9ad63qc8qnkq8ujvnbofdr0l1ppo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109102425737-qimi9ad63qc8qnkq8ujvnbofdr0l1ppo</string>
	<key>API_KEY</key>
	<string>AIzaSyD-logNXNXvKEM7QBBpmmdUWmI2Or45iT4</string>
	<key>GCM_SENDER_ID</key>
	<string>109102425737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daegubukgu.donations</string>
	<key>PROJECT_ID</key>
	<string>su2021</string>
	<key>STORAGE_BUCKET</key>
	<string>su2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109102425737:ios:dcc00d7c21a2f90c910858</string>
</dict>
</plist>